﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
@if (ViewBag.Durum != null)
{
    <p>@ViewBag.Durum</p>
}

@using (Html.BeginForm("Gonder", "Home", FormMethod.Post))
{
    @Html.TextBox("ad")
    @*<input type="text" 
        name="ad" />*@
    <input type="submit" value="Gönder" />
}