﻿@model WebApplication15.Data.Ogrenci
@{
    ViewBag.Title = "Bilgi";
}

<h2>Bilgi</h2>
@Html.ValidationSummary()
@using (Html.BeginForm("BilgiKaydet", "Ogrenci", FormMethod.Get))
{
    @Html.TextBoxFor(x => x.Ad)
    @Html.TextBoxFor(x => x.Numara)
    <input type="submit" value="Kaydet" />
}